# Dependencies
node_modules/

# Environment variables
# Environment variables
.env
.env.*
!.env.example
# Build output
dist/
.next/
out/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db